
.pickgradient {
  display:inline-block;
  background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 100%); 
  background: -webkit-gradient(linear, left , right , color-stop(0%,rgba(0,0,0,0.65)), color-stop(100%,rgba(0,0,0,0)));
  background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); 
  background: -o-linear-gradient(left, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%);
  background: -ms-linear-gradient(right, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); 
  background: linear-gradient(rgba(219, 74, 103, 8.0), rgba(226, 81,95, 0.7)); 
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='red', endColorstr='crimson',GradientType=0 ); 
}

.myimg{
  position: relative;
    z-index: -1;
    display: block;
    height: auto;
    width: 100%;
}
.nav1 {
  margin-top:40px; 
  width: 100%; 
  position: absolute;
  z-index: 1; 
  top: 0; 
  left: 0;
  overflow-x: hidden; /* Disable horizontal scroll */
}

.adtext
{
text-align: justify;
margin-top: 30px;
text-justify: inter-word;
margin-bottom: 10px;		
}

  .adpd
  {
  	padding: 40px;
  }

  .adpd > h2
  {
margin-top: 20px;
  }

.row1{
	margin-top:30px; 
}
.btn-outline-success
{
	border-color: white;
	color: white;
	padding-right: 30px;
	padding-left: 30px;
}
.btn-outline-success:active,.btn-outline-success:focus
{
	color: rgba(219, 74, 103);
	background-color: white;
	border-color: white;
	outline: none !important;
   box-shadow: none;

}
.btn-outline-success:hover 
{

	color: rgba(219, 74, 103)!important;
	background-color: white!important;
	border-color: white!important;
	  outline: none !important;
   box-shadow: none;
}

.btnsnp,.btnsnp:active,.btnsnp:hover{
	padding-right:30px; 
	padding-left:30px;
	color: rgba(226, 81,95);
	margin-top: 50px;
	  outline: none;
}


.slide_text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
	
.h1
{
	font-size:6vw;
}
.h4
{
	font-size: 1.6vw;
}

.carousel-indicators li {
  width: 10px;
  height: 10px;
  border-radius: 100%;
}
.pro-head
{
	padding-bottom:40px;
}
.main_product
{

background-color: #fafafa;
padding-top: 50px;	
padding-bottom: 50px;	
}
@media only screen and (max-width:991px)
{
.nav1{
		margin-top:0px;
		margin-left:0px;
}

.menu_title
{
	text-align: left !important;
}

.menu_btn
{
margin-left:45px!important;
}

.navbar-collapse
{
	background-color: white;
}

.nav-link
{
	color: rgba(219, 74, 103)!important;
}

.btnsnp,.btnsnp:active,.btnsnp:hover{

	padding:5px 15px 5px 15px; 
	margin-top: 20px;
	font-size: 15px;
}
.adpd
{
	padding-top:0px; 
}
}