.pickgradient {
  display:inline-block;
  background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.65)), color-stop(100%,rgba(0,0,0,0)));
  background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%);
  background: -o-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%);
  background: -ms-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%);
  background: linear-gradient(rgba(226, 81, 93, 0.8), rgba(226, 81, 93, 0.8));
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 );
}
 
.myimg{
      position: relative;
    z-index: -1;
    height: auto;
}
.bs-example{
       
      
        margin-top: -510px;
        width: 100%;
    }
    .image-div
    {
      width: 100%;
      max-width: 50%;
     
    }
    img{
  position:relative;
  z-index:-1;
  display:block;
  height:auto; 
  width: 100%;
}