.myimg
{
     
    background-image: linear-gradient(rgba(226, 81, 93, 0.8), rgba(226, 81, 93, 0.8)),url("pic2.png"); 
    width: 100%;
    height : 700px;
    background-size: cover;
}
.pickgradient {
  display:inline-block;
  background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.65)), color-stop(100%,rgba(0,0,0,0))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* IE10+ */
  background: linear-gradient(rgba(226, 81, 93, 0.8), rgba(226, 81, 93, 0.8)); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
}

img{
  position:relative;
  z-index:-1;
  display:block;
  height:auto; 
  width: 100%;
}
#sticky-navigation {
    background: rgba(255,255,255,0.9);
}
.myul
{
  margin-top: -710px;
  padding: 40px;
  margin-left: 100px;

}
.myli
{
  list-style-type: none;
  padding: 2px;
  
}
.nav1 {
  width: 100%; 
  position: fixed;
  z-index: 1; 
  top: 0; 
  left: 0;
  overflow-x: hidden; * Disable horizontal scroll *
}
.myimg2
{
  
}